.App {
  height: 100vh;
  width: 100vw;
}

.nav-menu {
  border-right: 3px solid #a0aec0;
}

.esports-bar {
  border-left: 3px solid #a0aec0;
}

.title {
  border-bottom: 3px solid #a0aec0;
}

.feed {
  overflow-y: auto;
  overflow-x: hidden;
}

.feed::-webkit-scrollbar {
  width: 3px;
}

.feed::-webkit-scrollbar-track {
  background: #a0aec0;
}

.feed::-webkit-scrollbar-thumb {
  background-color: #68d391;
}

.text-message {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
}

.selector::-webkit-scroll {
  width: 3px;
}

.selector::-webkit-scrollbar-track {
  background: #a0aec0;
}

.selector::-webkit-scrollbar-thumb {
  background-color: #68d391;
}
